<p id="notice"><%= notice %></p>

<h1>Serietests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serietests.each do |serietest| %>
      <tr>
        <td><%= serietest.name %></td>
        <td><%= serietest.description %></td>
        <td><%= link_to 'Show', serietest %></td>
        <td><%= link_to 'Edit', edit_serietest_path(serietest) %></td>
        <td><%= link_to 'Destroy', serietest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serietest', new_serietest_path %>
